@import "https://fonts.googleapis.com/css2?family=Allura&family=Baloo+Paaji+2&display=swap";
$font-text: 'Baloo Paaji', cursive;
$font-title: 'Baloo Paaji', cursive;

body {
/*   font: 150% $font-text;
 */  color: #0000ff;
}
/* 
h1{
	font: 100% $font-title;
	color: green;
}
 */
.header{
	min-height: 105px;
	border-bottom: 1px solid #ddd;
	padding-top: 20px;
	font: 150% $font-text;
}

.footer{
	border-top: 1px solid #ddd;
	padding-top: 10px auto;
	font: 70% $font-text;	
	color: red;
}

.testoPagina {
	font: 70% $font-title;
}
/*
.sfondo{
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(../images/sfondo.png) no-repeat center top; position: fixed; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/
.sfondo-titoli{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-weight: bold;
}

.sfondobn{
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(../images/sfondobn.png) no-repeat left top; position: fixed; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


.sfondobn2{
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(../images/sfondobn.png) no-repeat left top; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.list-group-item {
	background-color: transparent;
/*	border-top: 1px solid #ddd;*/
	border: none;
	border-radius: 0;
	color: #333;
}

#sidebar .sidebar-title {
    margin: 20px;
/*    background: url(../images/sfondo_titolo.png) no-repeat center center;*/
    font: 150% $font-title;
    font-weight: bold;
    color: #333;
}

#sidebar .sidebar-logo{
	border: 8px solid black;
	margin: 3em 5.5em 3em 0;
	min-width: 100px;
	min-height: 100px;
}

#sidebar .sidebar-list{
	margin-top: 2em;
	font: 100% $font-title;
}

.sidebar-link{
	font-size: 125%;
}

.img-menu{
	margin: 1em;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

.my-left-menu p{
	color: white;
	margin: .6em;
}

.my-left-menu a{
	margin: .6em;
}

.myul-container{
	display: flex;
	flex-wrap: wrap;
}

.myul-item{
	flex: 1 0 21%;
}

/**
* Breakpoint utili alla modifica delle immagini
*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	.sfondo{
		width: 100%; min-height:100%; top: 0; left: 0;
		background: url(../images/sfondi/homePage_XS.png) no-repeat center top; position: fixed; z-index: -1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.my-container{
		max-width: 500px;
	}

	.modal-mylg{
		min-width: 500px;
		margin: 0 auto;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.sfondo{
		width: 100%; min-height:100%; top: 0; left: 0;
		background: url(../images/sfondi/homePage_S.png) no-repeat center top; position: fixed; z-index: -1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.my-container{
		max-width: 650px;
	}

	.modal-mylg{
		min-width: 650px;
		margin: 0 auto;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.sfondo{
		width: 100%; min-height:100%; top: 0; left: 0;
		background: url(../images/sfondi/homePage_M.png) no-repeat center top; position: fixed; z-index: -1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.my-container{
		max-width: 850px;
	}

	.modal-mylg{
		min-width: 850px;
		margin: 0 auto;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.sfondo{
		width: 100%; min-height:100%; top: 0; left: 0;
		background: url(../images/sfondi/homePage_L.png) no-repeat center top; position: fixed; z-index: -1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

	.my-container{
		max-width: 1050px;
	}

	.modal-mylg{
		min-width: 1050px;
		margin: 10px auto;
		align-items: center;
	}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.sfondo{
		width: 100%; min-height:100%; top: 0; left: 0;
		background: url(../images/sfondi/homePage_XL.png) no-repeat center top; position: fixed; z-index: -1;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

	.my-container{
		max-width: 1050px;
	}

	.modal-mylg{
		min-width: 1220px;
		margin: 10px auto;
		align-items: center;
	}


}
